/* OCPInput.module.css */

/* Общие стили */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.formContainer {
  margin-bottom: 20px;
}

.formTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
}

.submitButton, .cancelButton {
  margin-top: 10px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leftSide, .rightSide {
  width: 48%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  width: 80%;
}

.createButton {
  width: 18%;
}

.table {
  margin-top: 20px;
}

/* Стили для адаптивности */
@media (max-width: 1200px) {
  .mainContent {
    flex-direction: column;
  }

  .leftSide, .rightSide {
    width: 100%;
  }

  .searchInput {
    width: 70%;
  }

  .createButton {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .formTitle {
    font-size: 1.2rem;
  }

  .input {
    padding: 8px;
  }

  .submitButton, .cancelButton {
    padding: 10px;
  }

  .mainContent {
    flex-direction: column;
  }

  .leftSide, .rightSide {
    width: 100%;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchInput {
    width: 100%;
  }

  .createButton {
    width: 100%;
  }

  .table {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .formTitle {
    font-size: 1rem;
  }

  .input {
    padding: 6px;
  }

  .submitButton, .cancelButton {
    padding: 8px;
  }

  .createButton {
    width: 100%;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .searchInput {
    width: 100%;
    margin-bottom: 10px;
  }

  .table {
    margin-top: 10px;
  }

  .matchButton {
    width: 100%;
    margin-top: 10px;
  }

  .select {
    width: 100%;
  }
}
