/* Основной контейнер */
.container {
  padding: 20px;
}

/* Формы добавления нового пользователя */
.addUserForm {
  margin-bottom: 20px;
}

/* Медиазапрос для экранов от 320 до 750 пикселей */
@media (max-width: 750px) {
  /* Стиль для таблицы */
  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  /* Перевернутая таблица */
  .ant-table-tbody {
    display: block;
  }

  .ant-table-tbody tr {
    display: block;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
  }

  .ant-table-tbody td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    font-size: 14px;
    flex-direction: column;
  }

  .ant-table-tbody td .ant-table-column-title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  /* Скрытие заголовков столбцов в мобильной версии */
  .ant-table-thead {
    display: none;
  }

  /* Стиль для блока комментариев */
  .commentSection {
    margin-top: 20px;
  }
}

/* Дополнительные стили для планшетов */
@media (max-width: 600px) {
  .addUserForm {
    display: flex;
    flex-direction: column;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .addUserInput {
    width: 100%;
  }

  .addUserButton {
    width: 100%;
  }
}
