/* Общий контейнер */
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Максимальная ширина */
  margin: 0 auto; /* Центрирование */
}

/* Заголовок */
.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Таблица */
.table {
  width: 100%;
  margin-top: 20px;
  overflow-x: auto; /* Горизонтальный скролл для узких экранов */
}

/* Блок комментариев */
.commentSection {
  margin-top: 30px;
  width: 100%;
}

.commentSection h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Кнопки */
button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
}

/* Адаптивность */
@media (max-width: 768px) {
  .title {
      font-size: 20px;
  }

  .table .ant-table-tbody > tr > td {
      font-size: 14px;
  }

  .commentSection h3 {
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 10px;
      width: 100%;
  }

  .title {
      font-size: 18px;
  }

  .table {
      font-size: 12px;
  }

  .commentSection h3 {
      font-size: 16px;
  }

  button {
      width: 100%;
      margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .container {
      padding: 5px;
  }

  .title {
      font-size: 16px;
  }

  .commentSection h3 {
      font-size: 14px;
  }

  button {
      font-size: 14px;
      padding: 8px;
  }
}
