.button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
    outline: none;
    background-color: rgb(233, 30, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Добавлено */
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button:hover {
    background: #d81b60;
}

.button:hover .placeholder {
    font-weight: 500;
}

.button.second {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid rgb(233, 30, 99);
}

.button.second:hover {
    background-color: #FFFFFF;
    border: 1px solid rgb(233, 30, 99); /* Оставляем ту же толщину границы */
    outline: 1px solid rgb(233, 30, 99); /* Добавляем outline для эффекта наведения */
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.icon.left {
    order: -1;
}

.icon.right {
    order: 1;
}

.placeholder {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}