.sliderContainer {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Увеличиваем максимальную ширину */
  margin: 0 auto;
  overflow: hidden;
  height: 500px; /* Увеличиваем высоту контейнера */
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.sliderImage {
  width: 70%; /* Увеличиваем ширину слайда */
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.activeSlide {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  opacity: 1;
}

.prevSlide {
  left: 10%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  opacity: 0.7;
}

.nextSlide {
  left: 90%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  opacity: 0.7;
}

.hiddenSlide {
  display: none;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(233, 30, 99, 0.7); /* Цвет #e91e63 с прозрачностью */
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
  font-size: 1.5rem;
  opacity: 0; /* По умолчанию кнопки невидимы */
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.prevButton {
  left: 20px; /* Увеличиваем отступ слева */
}

.nextButton {
  right: 20px; /* Увеличиваем отступ справа */
}
.sliderContainer:hover .prevButton,
.sliderContainer:hover .nextButton {
  opacity: 1; /* Кнопки становятся видимыми */
}
/* Изменяем цвет кнопок при наведении на них */
.prevButton:hover,
.nextButton:hover {
  background-color: rgba(233, 30, 99, 1); /* Цвет #e91e63 без прозрачности */
}

/* Адаптивность */
@media (max-width: 768px) {
  .sliderContainer {
    height: 400px; /* Уменьшаем высоту для планшетов */
  }

  .sliderImage {
    width: 80%; /* Увеличиваем ширину слайда на мобильных устройствах */
  }

  .prevSlide {
    left: 5%;
  }

  .nextSlide {
    left: 95%;
  }
}

@media (max-width: 480px) {
  .sliderContainer {
    height: 300px; /* Уменьшаем высоту для мобильных устройств */
  }

  .sliderImage {
    width: 90%; /* Еще больше увеличиваем ширину слайда на маленьких экранах */
  }

  .prevSlide {
    left: 2%;
  }

  .nextSlide {
    left: 98%;
  }
}